appdirs
asgiref
astroid
colorama
distlib
Django
django-crispy-forms
django-filter
django-login-required-middleware
django-widget-tweaks
filelock
isort
lazy-object-proxy
mccabe
pylint
pytz
six
sqlparse
virtualenv
wrapt
